.close-sm {
    margin-bottom: -40px;
    position: relative;
    z-index: 1;
    font-size: 2rem;
    color: inherit;
    text-shadow: inherit;
    opacity: 1;
}


.bottom-space {
    margin-bottom: 2em;
}
