@import '../../../scss/shared/colors';

.dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-word;
}

.card-status-header {
    border-radius: 5px 5px 0 0;
}

.online {
    color: $success;
}

.success-button {
    background-color: $success;
}


.mat-card-actions {
    margin-right: 1em !important;
    margin-top: -1em;
}


@media screen and (max-width: 1279px) {
    .mat-card-subtitle {
        margin-bottom: 0;
    }
}
