<div class="header mb-2 p-4" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="heading">
        <h3 [ngStyle.xs]="{ 'font-size.em': 1 }" class="ml-0 mt-2 mb-0">Backend Error Logs</h3>
    </div>
    <mat-icon id="close" fxFlexAlign="baseline" class="close-lg" (click)="close()">close</mat-icon>
</div>
<perfect-scrollbar>
    <div class="dialog-content" *ngIf="!loadingIndicator">
        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="timestamp">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.timestamp}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="location">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.location}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="message">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Error Message</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.message}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="userId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>User Id</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.userId}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="userName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.userName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="hostName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Browser</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.hostName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="customException">
                <mat-header-cell *matHeaderCellDef>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-button (click)="openExceptionDetailsDialog(row.customException)">
                        Click to view
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </div>
</perfect-scrollbar>
