<mat-card class="mat-elevation-z3 chart-wrapper" fxLayout="column" fxFill>
    <dx-chart #chart [ngClass]="isDarkTheme ? 'dark' : 'light'" class="m-3" id="chart" [dataSource]="chartData"
            [palette]="isDarkTheme ? 'darkPalette' : 'lightPalette'" (onPointClick)="openOrderDetailsDialog($event)"
        [customizeLabel]="customizeLabel" resolveLabelOverlapping="stack">
        <dxo-title text="Orders By Person">
            <dxo-font color="{{color}}" family="{{themeManager._titleFamily}}"></dxo-font>
            <dxo-subtitle text="(Amount of Orders and Value)">
                <dxo-font color="{{color}}" family="{{themeManager._titleFamily}}"></dxo-font>
            </dxo-subtitle>
        </dxo-title>
        <dxi-value-axis [maxValueMargin]="0.20" position="left">
            <dxo-title text="SEK">
                <dxo-font color="{{color}}" family="{{themeManager._bodyFamily}}"></dxo-font>
            </dxo-title>
        </dxi-value-axis>
        <dxo-common-series-settings argumentField="salesPerson" type="bar" valueField="totalSumInSek"
            [ignoreEmptyPoints]="true" cornerRadius="4">
            <dxo-label [customizeText]="customizeText" [visible]="true" [format]="{
                type: 'fixedPoint',
                precision: '0'
            }">
            <dxo-font color="{{color}}" family="{{themeManager._bodyFamily}}"></dxo-font>
            </dxo-label>
        </dxo-common-series-settings>
        <dxo-common-axis-settings [label]="{font: {color: color, family: themeManager._bodyFamily} }"></dxo-common-axis-settings>
            <dxo-legend verticalAlignment="top" horizontalAlignment="center" position="outside">
                <dxo-font color="{{color}}" family="{{themeManager._bodyFamily}}"></dxo-font>
            </dxo-legend>
        <dxo-series-template nameField="salesPerson"></dxo-series-template>
        <dxo-adaptive-layout [height]="200" [width]="400"></dxo-adaptive-layout>
    </dx-chart>
</mat-card>
