// .small-avatar {
//     background-size: contain;
//     background-repeat: no-repeat;
//     width: 5%;
//     border-radius: 50%;
// }


h3 {
    font-size: 1em;
    display: inline;
    margin-left: 1em;
}

