<div class="page-content">
    <app-page-header title="About" icon="info"></app-page-header>
    <div class="mt-4" [@fadeInOut] [ngClass]="isDarkTheme ? 'dark' : 'light'">
        <p>Version: Beta</p>
        <p>This is a beta-version, which means that bugs might exist and performance can be compromised.</p>
        <p>If some part of the application is taking a long time to load or is not loading at all, please refresh the page.</p>
        <p>If refreshing the page does not solve the problem, logging out and logging in again might help</p>
        <p>To get in contact with Isak, you can write a chat-message directly inside this application, or send an email to <a href="mailto:isak@wasasweden.se">isak@wasasweden.se</a></p>
    </div>
</div>
