@import '../../app-theme';
@import '../../../scss/shared/colors';

header {
    margin: 1em;
}

header .mat-icon {
    width: 36px;
    height: 36px;
    font-size: 36px;
    display: inline-block;
    vertical-align: middle;
}

header h3 {
    margin: 0;
    margin-left: 10px;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.9em;
}

header.pageHeader {
    margin: 2em 0;
    display: inline-block
}
