@import '../../../../scss/shared/colors';

@mixin alert-create-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .mat-step-header .mat-step-icon {
        background-color: mat-color($accent);
    }

}
