::ng-deep .mat-selection-list .mat-list-item .mat-list-item-content-reverse, .mat-selection-list .mat-list-option .mat-list-item-content-reverse {
    font-size: .9em;
    padding: 0;
}

::ng-deep .dx-popup-content {
    margin: 0;
    padding: 1em;
}

::ng-deep .mat-selection-list {
    padding: 0;
    margin: 0;
}


#more {
    font-size: 2em;
}

#more:hover{
    cursor: pointer;
}


